@model IEnumerable<SIL.Domain.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
<div id="leftPane">
	<nav class="subMenu">
	<h3>Actions</h3>
		<ul>
			<li>@Html.ActionLink("Create New", "Create")</li>
		</ul>
	</nav>
</div>
<div id="rightPane">
<table id="tables">
	<thead>
		<tr>
			<th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaxNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th></th>
    </tr>
	</thead>
	<tbody>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaxNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
    @*        @Html.ActionLink("Contact", "ContactInfo", "Contact", new { id = item.ContactId }, null) |    *@   
            @Html.ActionLink("Edit", "Edit", new { id =item.CustomerId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId }, null)
        </td>
    </tr>
}

	</tbody>

</table>
</div>